.container{
    display: grid;
    grid-template-columns: 0.7fr 2.6fr 0.7fr;
    grid-template-rows: 0.5fr 2fr 0.3fr;
    min-height: 100vh;
}

header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    background-color: #4682B4;
}

nav{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

main{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    text-align: center;
}

